<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <%- include('cdn') %>
    <style>
        /* Customize additional styles as needed */
        .profile-img {
            width: 150px; /* Set the desired width for the profile image */
            height: 150px; /* Set the desired height for the profile image */
            object-fit: cover; /* Maintain the aspect ratio while covering the content box */
            border-radius: 50%; /* Make the image circular */
        }
    </style>
</head>

<body>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body text-center">
                        <img src="https://cdn.discordapp.com/attachments/1167841659199959121/1171004832778301470/IMG_0459.png?ex=656d8f3c&is=655b1a3c&hm=0b66dcb6ee0f6b010d26bb9732db8f75a7e9caae3282f2f92ad9a1a60d465dc9&" alt="Profile Image" class="profile-img mb-3">
                        <h3 class="card-title">Dedix "d" nya Dodix</h3>
                        <p class="card-text">Data Analyst</p>
                        <p class="card-text">Email: dedixnolimit@gacor.com</p>
                        <p class="card-text">Location: Suriah, Suriname</p>
                        <a href="#" class="btn btn-primary">Ada gila gila nya 🗿</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
