<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Maintenance</title>
    <%- include('cdn') %>
</head>

<body>

    <div class="container mt-5 text-center">
        <div class="jumbotron">
            <img src="https://static.uc.ac.id/library/2019/01/under.jpg" alt="Maintenance Image" class="img-fluid mx-auto mb-4">
            <h1 class="display-4">Under Maintenance</h1>
            <p class="lead">We're sorry, but our website is currently undergoing maintenance. Please check back later.</p>
            <hr class="my-4">
            <p>If you need assistance, feel free to contact our support team.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/users/teacher/course/contactMaintenance" role="button">Contact Support</a>
            </p>
        </div>
    </div>

</body>

</html>
